body {
	font-size: 62.5%;
}

table{
	border-collapse:collapse;
}
table#d th,table#d td{
	border:1px solid blue;
	padding:5px;
	font-size:1.5em;
}
table caption{
	font-size:20px;
}
button span{
	font-size:10px;
}
input[type='text']{
	width:300px;
	margin-left:10px;
}
table.form th{
	text-align:right;
}
table.form input[type="checkbox"]{
	margin-left:10px;
}
textarea{
	width:300px;
	margin-left:10px;
	resize:none;
}

input.text{
	width:200px;
	margin-left:10px;
}
