<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/blitzer/jquery-ui-1.8.16.custom.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/dms.css" />
	<script type="text/javascript" src="/static/jquery-1.6.4.min.js"></script>
	<script type="text/javascript" src="/static/jquery-ui-1.8.16.custom.min.js"></script>
	<script type="text/javascript" src="/static/dms-login.js"></script>
    <title>Tournament system</title>
  </head>
  <body>
  	<table class=form>
	<caption>Login</caption>
		<tr>
			<th>Email:</th>
			<td><input id=email class=text type=text /></td>
		</tr>
		<tr>
			<th>Password:</th>
			<td><input id=pw class=text type=password /></td>
		</tr>
	</table>
	<p>
		<button id=login>Login</button>
		<button id=register>Register</button>
	</p>
	<p>
		<button id=facebook>Facebook Login</button>
	</p>
  </body>
</html>